tags
*.xcf
*.aux
*.log
*.out
*.bbl
*.dvi
*.synctex.gz
*.run.xml
*.bcf
*.blg
*.lof
*.lot
*.toc
*.synctex
*.synctex(busy)
*.swp
*.fls
*.fdb_latexmk
*.md.tex
*.markdown.in
main.run.xml
main.markdown.in
main.markdown.lua
main.toc
untracked_figures/
_markdown_main/
main.synctex.gz
.latexmkrc
.gitignore
.vscode

main.pdf
single_chapter.pdf
diagram_scratch.pdf
chapter1_220423.pdf
chapter2_220613.pdf
chapters1234_220613.pdf
chapter5_220829.pdf
chapter6_220912_v0.pdf
chapter6_220912_v1.pdf
chapter7_220919_v0.pdf
main_parskip_2cm.pdf
