tags
*.xcf
*.aux
*.log
*.out
*.bbl
main.pdf
*.dvi
*.synctex.gz
*.run.xml
single_chapter.pdf
diagram_scratch.pdf
*.bcf
*.blg
*.lof
*.lot
*.toc
*.swp
*.fls
*.fdb_latexmk
*.md.tex
*.markdown.in
main.run.xml
main.markdown.in
main.markdown.lua
main.toc
untracked_figures/
_markdown_main/
main.synctex.gz
.latexmkrc
.gitignore
.vscode

chapter1_220423.pdf
